body {
  margin-top: 5%;
  font-size: 14px;
  line-height: 1.42857143;
  font-family: Cormorant;
}

.center {
  margin: auto;
  width: 50%;
}

#below-image {
  padding-top: 15px;
}

#above-image {
  padding-bottom: 10px;
}

#options-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.input-group .form-control.url {
  flex-grow: 1;
}

#name-wrapper,
#url-wrapper,
#timezone-wrapper,
#time-wrapper {
  background-color: #b6cdbd;
  border-radius: 3px;
  padding: 10px;
}

#submit-button {
  display: block;
  margin-top: 20px;
  text-align: center;
}
#thanks #why #how {
  font-size: large;
}
img {
  max-width: 100%;
  max-height: 420px;
  box-shadow: 10px 10px 20px #5c715e;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  max-height: 150px;
  font-family: Cormorant;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
  border-top: 2px solid #b6cdbd;
}

#footer p {
  margin-bottom: 0;
}
#above-image {
  padding-bottom: 10px;
}
#below-image {
  padding-top: 15px;
}

#civil {
  font-family: Cormorant;
  text-align: center;
}

#vulgar {
  font-family: Cormorant;
  text-align: center;
  font-size: large;
}

.first-color {
  background: #f2f9f1;
}

.second-color {
  background: #ddeedf;
}

.third-color {
  background: #b6cdbd;
}

.fourth-color {
  background: #5c715e;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-family: Cormorant;
}

h1 {
  font-size: 36px;
  margin-top: 0; /* Reset margin-top for h1 */
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
  font-family: Cormorant;
}