<!DOCTYPE html>
<html>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <!-- Include Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond&display=swap" rel="stylesheet">

  <head>
    <title>What is the French Republican Calendar?</title>
  </head>
  <body class="first-color">
    <div class="body">
      <div id="why" class="second-color">
        <h3 id="topic">Revolutionizing Time: The French Republican Calendar</h3>
        <p><a href="https://en.wikipedia.org/wiki/French_Republican_calendar">The French Republican Calendar</a> is  a unique creation that emerged during the French Revolution. Also known as the French Revolutionary Calendar, it revolutionized the way time was perceived and utilized by the French government for approximately 12 years, from late 1793 to 1805. Interestingly, it resurfaced for a brief 18-day period during <a href="https://en.wikipedia.org/wiki/Paris_Commune">the Paris Commune in 1871</a>.</p>
        <p>The French Revolutionary Calendar was a product of a time when the people of France were actively dismantling the symbols of centuries-old oppression from the church and monarchy. It symbolized the revolutionary mindset, characterized by the desire to demolish the old world and construct a new, more peaceful society free from the influence of gods or kings. The calendar even featured daily items that resonated with the lives of ordinary people near Paris, reflecting the aspiration to create a calendar that spoke directly to the common person. It was a conscious effort to strip away hierarchies and present a simple representation of a year's worth of time.</p>
        <p>Personally, I hold a deep admiration for this calendar. It serves as a reminder to envision a better world and embrace the intricacies of life. Each day, it encourages me to reflect on the significance of that day's item and its personal meaning to me. It inspires me to consider how I can incorporate the essence of this calendar into my own local context, fostering a connection to the ideals it represents.</p>
        <p>Embrace the revolutionary spirit and let the French Republican Calendar ignite your imagination, inviting you to ponder a world where time becomes a catalyst for progress and enlightenment.</p>
      </div>
      <br>
      <br>
      <div id="how" class="second-color">
        <h3>How the Calendar Works</h3>
        <p>The Republican Calendar consisted of 12 months, each with 30 days, totaling 360 days in a year. The months were given names that reflected the natural world and seasonal activities. For example, names such as Vendémiaire (Grape Harvest), Brumaire (Mist), and Thermidor (Heat) were used.</p>
        <p>To account for the remaining days in the solar year, the Republican Calendar included five or six additional days called "complementary days" or <a href="https://en.wikipedia.org/wiki/Sans-culottes">"sansculottides."</a> These days were not assigned to any particular month and were dedicated to festivities and celebrations.</p>
        <p>Each month was further divided into three ten-day weeks called "decades." The days of the week were named after natural elements, such as Primidi (First day), Duodi (Second day), Tridi (Third day), and so on. The last day of each decade, called "Decadi," was considered a day of rest and reflection. In the "vulgar" calendar, every 5th day celebrates an animal and each 10th celebrates a human-made artifact. The sansculottides each celebrate one intangible facet of the revolutionary spirit.</p>
        <p>The operation of the French Republican Calendar, with its 30-day months, 10-day weeks, and sansculottides, represents an intriguing attempt to redefine time according to the principles of the French Revolution. It serves as a testament to the revolutionary mindset of the era, challenging established norms and envisioning a society that was not only politically transformed but also temporally reimagined.</p>
      </div>
      <br><br>
      <div id="thanks" class="second-color">
        <h3>Acknowledgments</h3>
        <p>A massive thanks to <a href="https://www.tthe.se/">Tomas Thelander</a> and their incredible <a href="https://github.com/dekadans/repcal">repcal python library</a>. Their site <a href="http://repcal.info">repcal.info</a> was also a huge inspiration.</p>
        <p>This project was also massively inspired by Twitter user <a href="https://twitter.com/sansculotides">@sansculotides</a> who originally gave me the idea to make an RSS feed out of this. With Twitter in its current state I figured I'd try to make an alternative to what they're doing over there.</p>
        <p>A loving thanks to my amazing wife for spending a weekend afternoon scraping all the illustrations needed to make this project as vibrant as it is.</p>
      </div>
    </div>
  </body>
  <footer id="footer" class="second-color">
    <a href="/">Back</a>
  </footer>
</html