<!DOCTYPE html>
<html>
<head>
    <title>Failure</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    .container {
        text-align: center;
    }
</style>
<body class="first-color">
    <div class="container">
        <h1>Failure!</h1>
        <p>An error occurred while creating the cronjob:</p>
        <p>{{ error }}</p>
        <a href="{{ url_for('signup') }}" class="button">Go back to Signup Page</a>
        <a href="{{ url_for('today') }}" class="button">Go back to Today</a>
    </div>
</body>
<footer class="second-color">
    <div id="footer">
        <p> <a href="/about">About</a> | <a href="/converter">Date Converter</a> | <a href="{{ url_for('signup') }}">Discord Webhook</a></p> 
    </div>
</footer>
</html>
