<!DOCTYPE html>
<html>
<head>
    <title>Loading...</title>
    <script>
      // Retrieve local time from the browser
      var localTime = Math.floor(Date.now() / 1000);
      var url = window.location.origin + "/today";
      // Send the local time to the Flask app using a POST request
      fetch(url, {
          method: 'POST',
          body: new URLSearchParams({
              'local_time': localTime
          }),
          redirect: 'follow'
      })
      .then(response => {
          // Handle the response from the Flask app
          if (response.ok) {
              console.log('Local time sent successfully.');
              console.log("Origin: " + window.location.origin);
              console.log("Url: " + url);
              window.location.assign(url)
          } else {
              console.error('Failed to send local time.');
          }
      })
      .catch(error => {
          console.error('An error occurred while sending local time:', error);
      });
    </script>
</head>
<body>
    <h1>Loading...</h1>
</body>
</html>
