<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Include jQuery from a CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include the Timepicker Addon script -->
  <script src="{{ url_for('static', filename='clockpicker.js') }}"></script>

  <!-- Include the Timepicker Addon CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='clockpicker.css') }}" />

  <!-- Include the custom style.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  <!-- Include Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond&display=swap" rel="stylesheet">
<body class="first-color">
  <div id="center-wrapper">
    <h1>Create Your Own French Republican Calendar Webhook</h1>
    <br>
    <form id="webhook-form" action="/create_webhook" method="POST">
      <div id="options-wrapper">
        <div id="name-wrapper">
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" />
        </div>
        <div id="url-wrapper">
          <label for="url">Webhook URL:</label>
          <input id="url" name="url" type="text" />
          <br>
          <small>Don't have a webhook URL? <a href="https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks" target="_blank">Learn how to create a webhook in Discord</a></small><br><br>
        </div>
        <div id="timezone-wrapper">
          <label for="timezone">Timezone:</label>
          <select id="timezone" name="timezone">
            <optgroup label="America">
              <option value="America/New_York">Eastern Time (US &amp; Canada)</option>
              <option value="America/Chicago">Central Time (US &amp; Canada)</option>
              <option value="America/Denver">Mountain Time (US &amp; Canada)</option>
              <option value="America/Los_Angeles">Pacific Time (US &amp; Canada)</option>
            </optgroup>
            <optgroup label="Europe">
              <option value="Europe/London">London</option>
              <option value="Europe/Paris">Paris</option>
            </optgroup>
            <optgroup label="Africa">
              <option value="Africa/Cairo">Cairo</option>
              <option value="Africa/Johannesburg">Johannesburg</option>
            </optgroup>
            <optgroup label="Asia">
              <option value="Asia/Tokyo">Tokyo</option>
              <option value="Asia/Shanghai">Shanghai</option>
            </optgroup>
          </select>
          <br><br>
        </div>
        <div id="time-wrapper">
          <label for="time">Time:</label>
          <input id="time" name="time" type="text" />
          <br><br>
        </div>
      </div>
      <br><br>
      <style>
        #submit-button {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      </style>
      <button id="submit-button" type="submit">Create Webhook</button>
    </form>
  </div>

  <!-- Load the create_webhook.js script -->
  <script src="{{ url_for('static', filename='create_webhook.js') }}"></script>

  <!-- Initialize the clockpicker widget -->
  <script>
    $(document).ready(function () {
      $('#time').clockpicker({
        placement: 'bottom',
        align: 'right',
        donetext: 'Done',
        autoclose: true,
      });
    });
  </script>
</body>
</html>
