<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="first-color">
    <style>
        .container {
            text-align: center;
        }
    </style>
    <div class="container">
        <h1>Success!</h1>
        <p>Your cronjob has been successfully created. A test post has been made with your Webhook.</p>
        <a href="{{ url_for('today') }}" class="button">Go back to today</a>
    </div>
    <footer class="second-color">
        <div id="footer">
            <p> <a href="/about">About</a> | <a href="/date_converter">Date Converter</a> | <a href="{{ url_for('signup') }}">Discord Webhook</a> | <a href="https://ko-fi.com/tupperward">Buy Me a Coffee</a></p> 
        </div>
        </footer>
</body>
</html>
