<!DOCTYPE html>
<html lang="en">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <meta charset="UTF-8">
    <title>French Republican Daily Calendar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Include Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond&display=swap" rel="stylesheet">
  </head>
  <div id="wrapper">
    <body class="first-color">
      <div id="civil" class="center">
          <h1>Today is:</h1>
          <h2>{{ today.weekday.lower() }} {{ today.day }} {{ today.month.lower() }}, year  {{ today.year_arabic }}</h2>
      </div>
      <div id="natural" class="center">
        <b><h3 id="above-image">{{ today.month }} is the month of {{ today.month_of.lower() }}.</h3></b>
        <img src="../static/images/{{ today.image }}.jpg">
        <br>
        <p id="below-image">Today we celebrate <a href="{{ today.item_url }}" target="_blank" rel="noopener noreferrer">{{ today.item.lower() }}</a>.</p>
        {% if server_time %}
        <br><br>
        <small><i>This information is based off current UTC time (i.e. Paris mean time) and may not be accurate to your local time.</i></small>
        {% endif %}
      </div>
    </body>
    <br>
    <footer class="second-color">
      <div id="footer">
        <p> <a href="{{ url_for('signup') }}">Discord Webhook</a> | <a href="/about">About</a> | <a rel="me" href="https://jorts.horse/@tupperward">Mastodon</a></p> 
      </div>
    </footer>
  </div>
</html>
