<!DOCTYPE html>
<html lang="en">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="The French Republican Daily Calendar" property="og:title" />
  <meta content="Today is {{ today.weekday.capitalize() }} {{ today.day }} {{ today.month.capitalize() }} in the year {{ today.year_arabic }}.
  {{ today.month.capitalize() }} is the month of  {{ today.month_of.lower() }}.
  Today we celebrate {{ today.item.lower() }}." property="og:description" />
  <meta content="https://sansculottid.es/" property="og.url" />
  <meta content="https://sansculottid.es/static/images/{{ today.image }}.jpg" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <meta name="twitter:card" content="summary_large_image">
  <head>
    <meta charset="UTF-8">
    <title>French Republican Daily Calendar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Include Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond&display=swap" rel="stylesheet">
  </head>
  <div id="wrapper">
    <body class="first-color">
      <div id="civil" class="center">
          <h1>Today is:</h1>
          <h2>{{ today.weekday.capitalize() }} {{ today.day }} {{ today.month.capitalize() }}, year {{ today.year_arabic }}</h2>
      </div>
      <div id="natural" class="center">
        <b><h3 id="above-image">{{ today.month }} is the month of {{ today.month_of.lower() }}.</h3></b>
        <img src="../static/images/{{ today.image }}.jpg">
        <br>
        <p id="below-image">Today we celebrate <a href="{{ today.item_url }}" target="_blank" rel="noopener noreferrer">{{ today.item.lower() }}</a>.</p>
        {% if server_time %}
        <br><br>
        <small><i>This information is based off current UTC time (i.e. Paris mean time) and may not be accurate to your local time.</i></small>
        {% endif %}
      </div>
    </body>
    <br>
    <footer class="second-color">
      <div id="footer">
        <p> <a href="/about">About</a> | <a href="/converter">Date Converter</a> | <a href="{{ url_for('signup') }}">Discord Webhook</a> | <a rel="me" href="https://worstwizard.online">Blog</a></p> 
      </div>
    </footer>
  </div>
</html>
